body {
    background-color: #6198bd;
    color: #fff;
    min-height: 100vh;
}

header {
    background-color: #73b4df;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

footer{
    background-color: #73b4df;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    width: 100%;
    height: fit-content;
    margin: auto;
}

a {
  text-decoration: none;
  color: #fff;
  margin-right: 5px;
}

a:hover{
    color: #c5c5c5
}


.container-fluid {
    color: #ffffff;
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body{
    background-color: #73b4df;
}